/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

body {
  margin: 0 auto;
  background: #f6bd62;
  color: #414141;
  font-style: normal;
  text-align: left;
}

h1, h2, h3, h4, h5, h6 {
  	font-size: 100%;
 }

h1 { 
	margin-bottom: 1em;
 }

a  { 
	color: #414141;
	text-decoration: none;
	font-size: 1.7em
 }

a:hover   { 
	color: #f6bd62;
	background: #414141;
}

div {
	margin: 5%;
}

/*****************************************************************************/
/*
/* Header
/*
/*****************************************************************************/

header {
	border-bottom: solid 1px;
}

header:after {
	clear: both;
	content: "";
	display: block;
	visibility: hidden;
	height: 0;
}

/*****************************************************************************/
/*
/* Nav Bar
/*
/*****************************************************************************/

.navigation {
	float: right;
}

#home {
	margin-right: 30px;
	padding: 7px;
}

#about {
	margin-left: 30px;
	padding: 7px;
}

/*****************************************************************************/
/*
/* Homepage
/*
/*****************************************************************************/

.site-title {
	margin: 0 auto;
	text-align: center;
}

.posts {
	margin: 0 auto;
	width: 100%;
}

.post-link {
	padding: 7px;
}

.post-title {
	font-family: Georgia, serif;
	font-size: 4em;
}
.date {
	float: left;
	font-size: .4em;
	width: 100%
}

.excerpt {
	clear:both;
	font-family: Georgia, serif;
	font-size: 2em;
}

ul {
	list-style: none;
}

li {

}

/*****************************************************************************/
/*
/* About Page
/*
/*****************************************************************************/

.about {
	margin: 0 auto;
	margin: 5%;
}

#bio {
	font-family: "Source Sans Pro", "helvetica", sans-serif;
	text-align: left;
	font-size: 6em;
}

#amp {
	color: white;	
}

/*****************************************************************************/
/*
/* Blog Post
/*
/*****************************************************************************/

/* POST TITLE */

.post {
	font-family: Georgia;
	font-size: 1.7em;
  	font-weight: 300;
	margin-left: 15%;
	margin-right: 15%;
}

h1 {
	font-family: Georgia;
	font-size: 7em;
	line-height: 1.3;
	margin-left: 15%;
	margin-right: 15%;
}

/* INTRO PARAGRAPH OF BLOG POST */

.intro {
	font-family: "Source Sans Pro", "helvetica", sans-serif;
	font-size: 1.5em;
	line-height: 1.3;
}

/* POST BODY TEXT */

.post-body {
	line-height: 1.7;
}

.paragraph-link {
	font-size: 1.7em;
}

#thanks {
	font-size: .7em;
	line-height: 1.7;
	font-style: italic;	
	padding: 5%;
}

.italics {
	font-style: italic;
}
/* POST DATE */

.meta {
	float: right;
	font-family: "Source Sans Pro", "helvetica", sans-serif;
	font-size: 1em;
	margin-right: 15%;
	font-style: italic;
}

/*****************************************************************************/
/*
/* Footer
/*
/*****************************************************************************/


.footer {
	background: #414141;
	position: fixed;
	height: 250px;
}

