/* Customized CSS
    ========================================================================== */

body {
  margin: 0 auto;
  padding: 0;
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
  position: relative;
  color: #006666;
}

h1 {
  font-size: 50px;
  margin: 2%;
}

p {
  font-size: 30px;
}

#about {
  background-color: #99cccc;
}

.headline {
  display: inline-block;
  text-align: center;
  padding: 1.5em;
}

#highlight {
  background-color: #ffcccc;
}
#sriracha {
  font-style: italic;
  color: #cc3300;
}

/*.bio {
  display: inline-block;
  height: 500px;
  margin-top: 50px;
  margin: 5%;
  background-color: white;
  z-index: 1000;
}*/